.Searchbox {
  max-width: 1100px;
  margin: 0 auto;
  background-color: #fbbe00;
  padding: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);

  margin-top: 30px;
}

.Search-form {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.text {
  font-family: inherit;
  border: 0;
  height: 40px;
  border-radius: 4px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  color: #083b87;
}

.form-item {
  position: relative;
  width: 100%;
}
.form-item .search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  color: #083b87;
  transform: translateY(-50%);
  font-size: 18px;
  pointer-events: none;
}
.form-item .text {
  width: 100%;
  height: 40px;
  border: 0;
  border-radius: 4px;
  font-weight: bold;
  padding: 0px 10px 0 40px;
  color: #083b87;
}

.text::placeholder {
  color: #083b87;
  opacity: 1;
}
.form-item select {
  height: 40px;
  width: 100%;
  padding: 0px 10px 0px 40px;
  border-radius: 4px;
  border: 0;
  font-family: inherit;
  display: inline-block;
  font-weight: bold;
  color: #083b87;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-description {
  margin-top: 8px;
  display: block;
  font-size: 16px;
  text-align: left;
}

.button {
  background-color: #083b87;
  padding: 10px 20px;
  color: white;
  width: 100%;
  height: 40px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  text-align: center;
  justify-content: center;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #0b4cac;
}
.for-work {
  font-size: 16px;
  display: flex;
  justify-content: center;
}
.form-checkbox {
  display: flex;
  align-items: center;
}
.form-checkbox .checkbox {
  position: relative;
  margin-left: 10px;
  margin-top: 2px;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
}
.checkbox::before {
  content: "";
  font-size: 15px;
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 2px solid white;
}
input:checked + .icon {
  display: block;
}
.checkbox .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  margin-top: -2px;
  display: none;
}
@media (min-width: 768px) {
  .Searchbox {
    padding: 45px;
  }
  .Search-form {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .Search-form .Search-form-item {
    flex-grow: 1;
  }

  .Search-form .Search-form-item:nth-child(1) {
    flex-grow: 2;
  }

  .Search-form .Search-form-item:nth-child(5) {
    flex-grow: 0;
  }

  .form-description {
    display: block;
  }

  .for-work {
    width: 100%;
    order: 2;
    justify-content: flex-end;
    padding-right: 1rem;
  }

  .button {
    width: auto;
    height: 100%;
  }
}
